<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments::head"></div>
<body>
	<div th:replace="fragments::topbar"></div>
	<div th:replace="fragments::navbar"></div>
	<div th:replace="fragments::carousel"></div>
	<div th:replace="fragments::features"></div>
	<div th:replace="fragments::categories"></div>
	<div th:replace="fragments::featuredProducts"></div>
	<div th:replace="fragments::offers"></div>
	<div th:replace="fragments::recentProducts"></div>
	<div th:replace="fragments::vendors"></div>
	<div th:replace="fragments::footer"></div>




</body>

</html>