<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments::head"></div>
<body>
	<div th:replace="fragments::topbar"></div>
	<div th:replace="fragments::navbar(${categories})"></div>
	<div th:replace="fragments::carousel"></div>
	<div th:replace="fragments::featuredProducts(${products})"></div>
	<div th:replace="fragments::offers"></div>
	<div th:replace="fragments::recentProducts"></div>
	<div th:replace="fragments::vendors"></div>
	<div th:replace="fragments::footer"></div>




</body>

</html>